
<body>

<h1><span class="fa fa-sign-in"></span> Create Note</h1>

<form action="/notes/create" method="post">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name">
    </div>
    <div class="form-group">
        <label>Content</label>
        <textarea class="form-control" name="content" ></textarea>
    </div>
    <div class="form-group">
        <label>Category</label>
        <input type ="text" class="form-control" name="category" ></input>
    </div>
    <div>
        <input type="submit" class="form-control" value="Submit" />
    </div>
</form>

</body>
</html>
